body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: 	#f8f8ff;
    margin:0;
    height: 100%;
    width: 100%;
    background-image:url("/images/oriental-tiles.png");
}
#setupBox{
    overflow:auto;
    position: absolute;
    width: 40rem;
    
    /*height: 18rem;*/
    top: calc(50% - 9rem);    
    left: calc(50% - 20rem);
    background-color: white;
    border-radius: 0.8rem;
    box-shadow: 1px 2px 10px grey;
    display: flex;
    flex-direction: column;

}
#titleBox{
    align-self: center;
    font-weight: 900;
    font-size: 1.1em;
    margin-top: 1rem;
}
#info{
    margin-top: 0.5rem;
    align-self: center;
}
#setupForm {
    margin-top: 0.35rem;
    margin-bottom: 0.35rem;
}
#setupForm > *{
    margin-top: 0.4rem;
} 
#submission{
    width:80%;
    margin: 0 auto;
    text-align: end;
    margin-top:0.5rem;
}
#submission #sButton{
    width:20%;
    font-weight: 700;
    border-radius: 0.2rem;
}
.formBox{
    width:80%;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.formBox .formField{
    border: 1px solid grey;
    border-radius: 0.3rem;
}
#topBox{
    position: absolute;
    top:0;
    left:0;
    font-size: large;
    padding:0.2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    box-shadow: 0px 1px;
    background-color: white;
}

#loginBox{
    overflow:auto;
    position: absolute;
    width: 40rem;
    
    /*height: 18rem;*/
    top: calc(50% - 9rem);    
    left: calc(50% - 20rem);
    background-color: white;
    border-radius: 0.8rem;
    box-shadow: 1px 2px 10px grey;
    display: flex;
    flex-direction: column;

}

#loginForm {
    margin-top: 0.35rem;
    margin-bottom: 0.35rem;
}
#loginForm > *{
    margin-top: 0.4rem;
} 

/************** Dashboard */

#header{
    margin:auto;
    width: calc( 100% - 2rem);
    max-width: calc(2000px - 2rem);
    background-color: white;
    padding: 2rem 1rem 2rem 1rem;
    grid-area: header;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid gray;
}
#header #title{
    font-weight: 600;
    font-size: 1.2em;
}
#menu{
    margin:auto;
    width: 100%;
    max-width: 2000px;
    margin-top: -1px;
    user-select: none;
    grid-area: menu;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#menu .mItem{
    background-color: white;
    border-radius: 0 0 0.7rem 0.7rem;
    padding: 0.4rem 4rem 0.4rem 4rem;
    box-shadow: inset 2px -2px grey;
    border-right: 1px solid grey;
    width: max-content;
    border-top: 1px solid white;
    font-weight: 600;
}
#menu .mItem:hover, #menu .mItem:active{
    background-color: rgba(255, 255, 255, 0.65);
}
.main{
    margin: auto;
    grid-area: main;
    width:calc( 100% - 0.1rem );
    max-width: 2000px;
    min-width: max-content;
    background-color: white;
    margin-top: 2rem;
    border: 1px solid lightgrey;
    border-top:inset 2px lightgrey ;
    border-bottom:inset 2px grey ;
    display: flex;
    flex-direction: column;
}

.main #siteDetails{
    min-height: 400px; /**************** ****************/
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#dash{
    font-family: 'Trebuchet MS';
    display: grid;
    grid-template-areas: 
    'header'
    'menu'
    'main';
}

.main #siteDetails #rPanel{
    display: flex;
    flex-direction: column;
    width: max-content;
}
.main #siteDetails #lPanel{ 
    overflow: hidden; 
    box-shadow: 0px 1px 2px grey;
    margin:1rem;
    height: min-content;
}
.main #siteDetails #lPanel img{
    max-width: 400px;
    border-bottom:1px solid lightgray;
}
.main #siteDetails #lPanel .tBox{
    display: block;
    width: 100%;
    text-align: center;
    padding: 0.3rem;
    font-weight: 500;
    background-color: rgb(214, 185, 18,0.1);
    
}
.main .formElement{
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
}
.main .formElement > *{
    padding:0.5rem;
}

.main .fileUpload{
    overflow: hidden;
    color: transparent;
    width: 5.5rem;
}
.main .formBtn{
    background-color: rgb(191, 255, 175);
    width: min-content;
    align-self: flex-end;
    margin-right: 1.5rem;
    padding:0.8rem;
    border-radius: 0.3rem;
    font-weight: 600;
    box-shadow: inset 1px 1px 1px transparent;
}
.main .formBtn:hover{
    user-select: none;
    background-color: rgb(149, 243, 125);
    box-shadow: inset 1px 1px 1px black;
  
}
/** user management page **/
.main #manage{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}
.main #manage > *{
    padding:1rem;
}
.main #manage #rPanel{

    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: max-content;
}
.main #manage #lPanel{ 
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: max-content;
}

#manage #title{
    font-weight: 600;
    font-size: 1.1em;
}
#manage .contentBox{
    box-shadow:inset 1px 2px 3px grey;
    margin:1rem auto;

    background-color: rgb(247, 239, 226);
    
    max-width: 30rem;
    width: 80%;
    min-width: max-content;  
    max-height: 400px;
    overflow-y: auto;
    border-radius: 0.5rem 0.5rem 0 0;
    padding:0.4rem;
}


.contentBox::-webkit-scrollbar { 
    width: 5px;
    height: 15px;
    background-color: aliceblue;
  }
.contentBox::-webkit-scrollbar-thumb{
    background-color: rgba(148, 148, 148, 0.233);
    border-radius: 2rem;
  }
.contentBox:hover::-webkit-scrollbar-thumb, .contentBox:focus::-webkit-scrollbar-thumb, .contentBox:active::-webkit-scrollbar-thumb{
    background-color: rgb(90, 90, 90);
}

#manage .contentBox .user{
    user-select: none;
    margin:0.2rem;
    padding: 0.3rem;
    background-color: white;
    box-shadow: 1px 1px 1px grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
#manage .contentBox .user:hover{
    background-color: whitesmoke;
}
.contentBox #userSearch{
    border-radius: 0.6rem 0.6rem 0 0;
    background-color: white;
    margin: 0.2rem;
    padding:0.7rem;
    margin-bottom: 0.4rem;
    box-shadow: 1px 1px 1px grey;
}
.contentBox #userSearch input{
    width: 100%;
    min-width: 10rem;
    border-radius: 0.5rem;
    height: 1.5rem;
    font-size: 1em;
}
.user > *{
    padding:0.2rem;
}
#manage .field.top{
    border-radius: 0.6rem 0.6rem 0 0;
}
#manage .field.bottom{
    border-radius: 0 0 0.6rem 0.6rem;
}
#manage .field{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    margin: 0.2rem;
    padding:0.7rem;
    margin-bottom: 0.4rem;
    box-shadow: 1px 1px 1px grey;
    height: 1.5rem;
}
.contentBox .field input{
    border-radius: 0.5rem;
    font-size: 1em;
    width: 10rem;
}
.contentBox .field textarea{
    resize: none;
    border-radius: 0.5rem;
    box-shadow: inset 1px 1px grey;
}

.contentBox .field span{
    align-self: center;
}
.contentBox .field select{
    border-radius: 0.5rem;
    height: 1.5rem;
    font-size: 1em;
    width: 10rem;
}
.contentBox .field button{
    margin-left: auto;
    border-radius: 0.3rem;
    font-weight: 600;
    width:7.5rem;
    background-color: rgb(209, 241, 160);
    border-style: none;
    box-shadow: 1px 1px grey;
}
.contentBox .field button:hover{
    box-shadow:inset 1px 1px grey;
}
.contentBox .field button:active{
    background-color: rgba(209, 241, 160, 0.685);
}

#hImage{
    width:6.5rem;
    border-radius: 0;
}

#manage .contentBox .house{
    user-select: none;
    margin:0.2rem;
    padding: 0.3rem;
    background-color: white;
    box-shadow: 1px 1px 1px grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
#manage .contentBox .house:hover{
    background-color: whitesmoke;
}
.contentBox #houseSearch{
    border-radius: 0.6rem 0.6rem 0 0;
    background-color: white;
    margin: 0.2rem;
    padding:0.7rem;
    margin-bottom: 0.4rem;
    box-shadow: 1px 1px 1px grey;
}
.contentBox #houseSearch input{
    width: 100%;
    min-width: 10rem;
    border-radius: 0.5rem;
    height: 1.5rem;
    font-size: 1em;
}
#manage .contentBox .house > *{
    padding:0.2rem;
}

/*************************/
#overlay{
    display: none;
    z-index: 2;
    position: fixed;
    width: 100vw;
    height: 100vw;
    top:0;
    left:0;
    margin:0;
    background-color: rgba(211, 211, 211, 0.5);
}
#popup{
    width:20rem;
    overflow:hidden;
    box-shadow: 2px 2px 5px grey;
    top:1px;
    background-color: snow;
    display: none;
    position: absolute;
    z-index: 3;

    left: calc(50% - 10rem);
    border-radius: 0.5rem;
}
#popup #topbar{
    background-color: whitesmoke;
}
#popup #exit{
    width:min-content;
    margin-right: 0.5rem;
    margin-left:auto;
    padding:0.3rem;
    background-color: red;
    color: white;
    font-weight: 900;
    padding-left: 0.5rem;
    padding-right:0.5rem;
    user-select: none;
    text-shadow: 1px 1px black;
}
#popup #exit:hover{
    cursor: pointer;
    box-shadow:inset 1px 1px black;
}
#popup img{
    max-width:100%;
    min-width: 30%;
    display: block;
    margin:auto;
    border-radius: 0.19rem;
    max-height: 250px;
    user-select: none;
}
#popup .displayField{
    margin:0 auto;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.2rem;
}
#popup .displayField .fname{
    font-weight: 600;
    width: 50%;
}
#popup .displayField input{
    width: 55%;
    vertical-align: middle;
}
#popup .displayField textarea{
    resize: none;
    width: 55%;
    vertical-align: middle;

}

#popup #formContainer{
    padding:0.5rem;
    background-color: antiquewhite;
}

#popup #updateBtn {
    cursor: pointer;
    user-select: none;
    width: 4rem;
    float: right;
    text-align: center;
    font-weight: 600;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: lightgreen;
   
}
#popup #updateBtn:hover {
    cursor: pointer;
}
#popup #removeBtn {
    user-select: none;
    cursor: pointer;
    width: 4rem;
    text-align: center;
    background-color: red;
    padding: 0.5rem;
    display: inline-block;
    color: white;
    font-weight: 600;
}
#imgTools{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: papayawhip;
}
#imgTools > *{
    user-select: none;
    display: inline-block;
    padding: 0.3rem;
    text-align: center;
    cursor: pointer;
    flex-grow: 1;
    font-weight: 600;
}
#addImg{
    background-color: aliceblue;
}
#removeImg{
    background-color: lightgray;
}

.panelHeader{
    font-weight: 600;
}
#customizeBox{
    margin:1rem;
}
#submitDesc{
    align-self: center;
    width: min-content;
    height: min-content;
    padding: 0.5rem;
    background-color: lightgreen;
    border-radius: 0.3rem;
    box-shadow: 1px 1px grey;
    user-select: none;
    font-weight: 500;
}
#submitDesc:hover{
    box-shadow:inset 1px 1px grey;
}