<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
<div id="pageContents">
    <div id="siteHeader">
        <div id="hContainer">
            <div id="siteImg">
                <img src="images/logo.png">
            </div>
            <div id="title">
				//[SITETITLE]//
            </div>
            <div id="siteMenu">
                <ul>//[MENUITEMS]//</ul>
            </div>
        </div>
    </div>
    <div id="main">
	//[MAINCONTENT]//
    </div>
 

</body>
</html>