body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: 	#f8f8ff;
    margin:0;
    background-image:url("images/Mbacking.image");

}
a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
  color: black;
}
#pageContents{
    width: 90%;
    min-width: 900px;
    display: block;
    display: flex;
    flex-direction: column;
    max-width: 100rem;
    margin: 0 auto;
   
}
#siteHeader{
    padding: 0.3rem;
    background-image:url("images/Hbacking.png");
    width:100%;
  
    margin: auto;
    border-radius: 0 0 0.2rem 0.2rem;
}
#hContainer{ 
    background-color: transparent;
    
    min-width: min-content;
    display: flex;
    flex-direction: row;
    
    position: relative;
   
}
#siteImg{
    height:100%;
    display: inline-block;
    vertical-align: middle;

}
#siteImg img{
    height: 6rem;
   
}
#title{
    margin:auto;
   
    display: inline-block;
    position:relative;
    color: white;
    text-shadow: 2px 2px grey;
    align-self: center;
    font-weight: 700;
    vertical-align: middle;
    font-size: 2.5rem;
   

}
#siteMenu{
    user-select: none;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    vertical-align: middle;
    position: relative;
    display: inline-block;
    margin-right: 0 auto;
   
}
#main{
    box-shadow: 1px 1px 2px grey;
    width: 100%;
    background-color:white;
    height: max-content;
    min-height: 300px;
    margin:0 auto;
    margin-top: 0.5rem;
}
#siteMenu ul{

    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    border-radius: 0.5rem;
    overflow: hidden;
    
    
}
#siteMenu li{
    
    display: inline-block;
    padding: 0.5rem;
    background-color:whitesmoke;
    text-align: center;
    border-right: 1px solid black;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    
}
#siteMenu li:hover{
    background-color:white;
	
}


#houses{
    margin:auto;
    padding: 1rem;
    padding-top: 0;
    max-width: 1000px;
    min-width: 600px;
}
.house{
    user-select: none;
    background-color: whitesmoke;
    margin:1rem;
    display: flex;
    flex-direction: row;
    border:1px solid transparent;
}
.house:hover{
    border:1px solid lightgray;
    cursor: pointer;
}

#houses div .content{
    display: flex;
    flex-direction: column;
    width: 80%;
}
#houses div .content .title{
    font-weight: 800;
    background-color: white;
    margin: 0.5rem;
    padding: 0.5rem;    
}
#houses div .content .desc{
    background-color: white;
    height: 100%;
    margin: 0.5rem;
    padding: 0.5rem;    
}
#houses .imgCont{
    padding:0.3rem;
    width: 20%;
    height: 100%;
}
#houses .imgCont img{
    width: 100%;
} 
#houses .imgCont .bbInfo{
    margin-top:0.1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#houses .imgCont .bbInfo .beds{
    border-radius: 0.3rem;
    padding: 0.2rem;
    background-color: white;
}
#houses .imgCont .bbInfo .baths{
    border-radius: 0.3rem;
    padding: 0.2rem;
    background-color: white;
}
#search{
    margin:auto;
    margin-top:1rem ;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: max-content;
}
#search > *{
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    margin-bottom: 0.25rem;
}
#search .filters{
    border-radius: 0.3rem;
    width:7.5rem;
    height: 1.2rem;
    font-size: 1.2em;
}   
#search #bedNum{
    border-radius: 0.3rem;
    width:6.8rem;
    height: 1.2rem;
    font-size: 1.2em;
}
#search #bathNum{
    border-radius: 0.3rem;
    width:6.8rem;
    height: 1.2rem;
    font-size: 1.2em;
}
#searchBtn{
    user-select: none;
    min-width: 5rem;
    text-align: center;
    font-weight: 700;
    color: white;
    text-shadow: 1px 1px black;
    border-radius: 0.25rem;
    display: inline-block;
    padding: 0.25rem;
    background-color: rgb(126, 230, 157);
    vertical-align: top;
    height: min-content;
}
#searchBtn:hover{
    cursor: pointer;
    background-color: rgb(121, 218, 150);
}
#mapToggle{
    user-select: none;
    border-radius: 0.2rem;
    width: max-content;
    padding: 0.2rem;
    padding-left: 0.3rem;
    padding-right: 0.5rem;
    background-color: lightsteelblue;
    box-shadow: inset 1px 1px 2px grey;
    font-weight: 600;
    
    color: white;
    
    text-shadow: 1px 1px black;
}
#propMap{
    display: none;
    height: 500px;
    margin:1rem;
}

#houseSlider{
    background-color: snow;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    width:80%;
    min-width: max-content;
    margin:0 auto;
    user-select: none;
}
#houseSlider img{
    height: 20rem;
}
#lSlide{   
    background-color:silver;
    display: flex;
    align-items: center;
}
#lSlide img{
    height: auto;
    width: 2rem;
}
#rSlide{
    display: flex;
    align-items: center;
    background-color:silver;
}
#rSlide img{
    height: auto;
    width: 2rem;
}
#rSlide:hover, #lSlide:hover{
    cursor: pointer;
}
#hAddress{
    width: 100%;
    text-align: center;
    background-color: whitesmoke;
    font-weight: 600;
    color: white;
    text-shadow: 1px 1px 2px black, -1px -1px 1px black;
}
#homeText{
    background-color: whitesmoke;
    padding:1rem;
}
